:root{
    background-color:rgb(245, 245, 245);
}
*{
    font-size: 2vw;
}
#findWeather{
    height: 30vh;
    margin: 2px 5px 5px;
    background-color: blue;
    border-radius: 0px 100px;
}
h1{
    font-size: 6vw;
    text-align: center;
    margin: 5px 5px;
}
img[src="geolocationIcon.png"]{
    height: 60px;
}
img[src="geolocationIcon.png"]:hover{
    cursor: pointer;
}
#imageBackground{
    border-radius: 5px;
    position: relative;
}
#topContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.column{
    margin: 20px 20px;
}
.header{
    font-size: 4vw;
    font-weight: bold;
}
#map{
    height: 30vw;
    width: 100%;
}
@media only screen and (min-width: 415px) {
    #container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    :root{
        margin: 0px 8vw;
    }
}
#locationContainer{
    height: 6vw;
    position: relative;
}
.centerContent{
    text-align: center;
}
#weatherInformation{
    margin: 10px 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 10px;
    font-size: 3vw;
}
#locationInformation{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    align-self: center;
}
#searchForm{
    text-align: center;
}
#ErrorText{
    color: red;
    font-weight: bold;
}
#searchText{
    border: none;
    letter-spacing: 0.2em;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}
#currentLocationButton:hover{
    cursor: pointer;
}
#unitsHeader{
    text-align: center;
    margin: 10px 0px;
}