:root{
    background-color: gainsboro;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
}
#findWeather{
    height: 25vw;
    margin: 2px 5px 5px;
    background-image: linear-gradient(rgb(145, 255, 154), rgb(81, 211, 94));
    border-radius: 50px;
}
h1{
    font-size: 6vw;
    text-align: center;
    margin: 5px 5px;
}
.column{
    margin: 5px 5px 5px;
}
.header{
    font-size: 4vw;
    font-weight: bold;
}
#map{
    height: 300px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    #container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
#locationContainer{
    height: 6vw;
    position: relative;
}
.centerContent{
    text-align: center;
}
#weatherInformation{
    margin: 10px 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 10px;
    font-size: 3vw;
}
#locationInformation{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    align-self: center;
}
#search_bar{
    text-align: center;
}
#ErrorText{
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
#searchText{
    border: none;
    letter-spacing: 0.3em;
    border-radius: 15px;
    text-align: center;
    padding: 0.3em;
}
#submitButton{
    border-radius: 15px;
}
#submitButton:hover{
    cursor: pointer;
}
#currentLocationButton:hover{
    cursor: pointer;
}
#unitsHeader{
    text-align: center;
    margin: 10px 0px;
}