#findWeather{
    height: 25vw;
    margin: 2px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(145, 255, 154), rgb(81, 211, 94));
}
h1{
    font-size: 6vw;
    text-align: center;
    margin: 5px 5px;
}
.column{
    margin: 5px 5px 5px;
}
#map{
    height: 300px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    #container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
#locationContainer{
    height: 6vw;
    position: relative;
}
#weatherInformation{
    margin: 10px 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row-gap: 10px;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
#locationInformation{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    align-self: center;
}
#unitsHeader{
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#search_bar{
    text-align: center;
}
#ErrorText{
    color: red;
    margin-top: 10px;
}